
  <!--<img  src="assets/images/introbackground1.jpg" class="image">
  background-repeat="no-repeat” background-size="cover”
<div>
 <img src="assets/images/introbackground1.jpg” >

    
<div class="box">
  <div class="btn-group">
    <button type="button" (click)="clickadmin()" >ADMIN</button>
    <button class="button">USER</button>
    <button class="button">EMPLOYEE</button>
  </div>
</div>
</div>
-->

<!--
<div>
 <img src="assets/images/abc1.jpg" class="image1">
  
 
 <div class="box1">
  <h1 class="wel">
    welcome to airline reservation system
  </h1>
 
  <div class="box">
   
    <div class="btn-group">
    <button type="button" (click)="clickadmin()" >ADMIN</button>
    <button class="button" (click)="clickuser()">USER</button>
    <button class="button" (click)="clickemployee()">EMPLOYEE</button>
      </div>
  </div>
</div>
</div>
-->
<header>
  <!-- Intro settings -->
  <style>
    /* Default height for small devices 
    #intro-example {
      height: 400px;
    }

   
    @media (min-width: 992px) {
      #intro-example {
        
        height: 100vh;
      }
    }
    
https://media.istockphoto.com/id/910005490/photo/man-at-the-airport.jpg?s=612x612&w=0&k=20&c=wAnsvBIw1CAVTwoESUnTtOexm16j5HitvdqtDm4eUT0=

    */
    #intro-example {
      height: 100vh;
      background-size: cover;
      background-position: center;
    }
  </style>

 
  <div
    id="intro-example"
    class="p-5 text-center bg-image"
    style="background-image: url('../../assets/images/welcome.jpg');width: 100%;"
  >
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">Welcome</h1>
          <h3 class="mb-4">Airline Reservation System</h3>
          <a
            data-mdb-ripple-init
            class="btn btn-outline-light btn-lg m-2"
            href="/adminlogin"
            role="button"
            rel="nofollow"
            target="_blank"
          >Admin </a
          >
          <a
            data-mdb-ripple-init
            class="btn btn-outline-light btn-lg m-2"
            href="/userlogin"
            target="_blank"
            role="button"
          >User</a
          >
          <a
          data-mdb-ripple-init
          class="btn btn-outline-light btn-lg m-2"
          href="/employeelogin"
          role="button"
          rel="nofollow"
          target="_blank"
        >Employee</a
        >
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->
</header>
