
<header>
    <h1>Welcome to Airline Reservation System</h1>
    <style>
    #intro-example {
      height: 80vh;
      background-size: cover;
      background-position: center;
    }
    </style>
</header>

<div >
  
  <nav>
    <div
  id="intro-example"
  class="p-7 text-center bg-image"
  style="background-image: url('https://media.istockphoto.com/id/182364621/photo/airplane-interior.jpg?s=612x612&w=0&k=20&c=QKi7h3gvi5DSkY9pe4gPU4a_nYJlJwwbAfU09YbqMyU=');width: 100%;"
  >
  <div style="background-color: #333; padding: 20px;">
    <ul style="list-style-type: none; margin: 0; padding: 0; overflow: hidden;">
      <li style="float: left; margin-right: 20px;padding-right: 10px;"><a routerLink="/">Home</a></li>
      <li style="float: left; margin-right: 10px;padding-right: 10px;"><a routerLink="/userprofile">User Details</a></li>
      <li style="float: left; margin-right: 10px;padding-right: 10px;"><a routerLink="/viewflight">View Flight Details</a></li>
      <!--<li style="float: left; margin-right: 10px;padding-right: 10px;"><a routerLink="/bookflight">Book a Flight</a></li>-->
      <li style="float: left; margin-right: 10px;padding-right: 10px;"><a routerLink="/viewuserbookings">View Bookings</a></li>
      <!--<li style="float: left; margin-right: 10px;padding-right: 10px;"><a routerLink="/add_payment/:booking_id">Payment</a></li>-->
      <li style="float: left; margin-right: 10px;padding-right: 10px;"><a routerLink="/viewpayments">View Payments</a></li>
      <li style="float: left;"><a routerLink="/userlogin">Logout</a></li>
    </ul>
  </div>
  </div>
  </nav>


</div>
  
