<header>
    <h1>Welcome to Airline Reservation System</h1>
    <style>
      #intro-example {
        height: 80vh;
        background-size: cover;
        background-position: center;
      }
      </style>
</header>


<nav>
  <div
  id="intro-example"
  class="p-7 text-center bg-image"
  style="background-image: url('https://images.pexels.com/photos/7433822/pexels-photo-7433822.jpeg');width: 100%;"
  >
  <div style="background-color: #333; padding: 20px;">
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li>
        <a routerLink="/employeeprofile">
          Profile
        </a>
      </li>
      <li>
        <a routerLink="/employeelogin">Logout</a></li>
     
      
    </ul>
  </div>
    </div>
  </nav>
<div>
